# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/macos,visualstudiocode,python,virtualenv
# Edit at https://www.gitignore.io/?templates=macos,visualstudiocode,python,virtualenv

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


# Distribution / packaging
dist/
.eggs/

# Environments
.env
.venv
env/
venv/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/macos,visualstudiocode,python,virtualenv


# GOOGLE CREDENTIALS
{{cookiecutter.google_credential_filename}}.json

